.Weather{
    border: 1px solid #dadde1;
    padding: 16px;
    margin: 30px;
    border-radius: 4px;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
.Weather form{
    margin-bottom: 20px;
}
.Weather li{
    list-style: none;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather h1{
    color: white;
    display: block;
    margin:20px 0 0;
    font-weight: 100;
    line-height: 29px;
    font-size: 24px;
}
.Weather img{
    height: 64px;
    margin-right: 10px;
    display: inline-block;
}
.Weather .unit{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -32px;
}
.Weather .temperature{
    font-weight: bold;
    font-size: 56px;
    font-weight: 400;
}
.Weather .btn-primary{
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

div{
    color: white;
}
.WeatherInfo h1{
    text-shadow: 5px 5px 10px rgba(234, 72, 247, 0.4);
    color: white;
}